{
  "android": {
    "keystore": {
      "keystorePath": "credentials/android/keystore.jks",
      "keystorePassword": "CHANGE_ME",
      "keyAlias": "CHANGE_ME",
      "keyPassword": "CHANGE_ME"
    }
  }
}
